@media (max-width: 1230px) {
    .intro__suptitle{
        font-size: 52px;
    }
    .intro__title {
        font-size: 120px;
    }
    .reviews__text {
        font-size: 20px;
    }
}

@media (max-width: 991px) {
    .intro__suptitle{
        font-size: 32px;
    }
    .intro__title {
        font-size: 80px;
    }
    .stat {
        justify-content: center;
    }
    .stat__item {
        flex: none;
        width: 33.33333%;
        padding: 30px 0;
        border: 0;
    }
    .stat__item:last-child {
        border-right: 0;
    }
    .services__item {
        width: 50%;
        padding-bottom: 0;
    }
    .services__item--border {
        border-bottom: 0;
    }
    .reviews .slick-slider {
        padding: 0 60px;
    }
    .reviews__photo {
        width: 150px;
        height: 150px;
    }
    .reviews__item {
        padding-left: 175px;
    }
    .clients {
        max-width: 600px;
        margin: 0 auto;
    }
    .clients__item {
        width: 100%;
        padding-right: 0;
    }
    .clients__item:last-child {
        margin-bottom: 0;
    }
    .footer__col--first {
        width: 100%;
    }
    .footer__col--second,
    .footer__col--third {
        width: 50%;
    }
    .instagram {
        justify-content: flex-start;
    }
    .instagram__item {
        width: auto;
        border-right: 1px solid #fff;
    }
    .instagram__link {
        padding-left: 5px;
    }
}

@media (max-width: 771px) {
    .intro {
        min-height: 650px;
    }
    .header {
        padding: 5px 0;
    }
    .nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #eb8b8d;
    }
    .nav.active {
        display: block;
    }
    .nav__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }
    .nav-toggle {
        display: block;
    }
    .slider__text {
        display: none;
    }
    .slider__item:before {
        width: 50%;
    }
    .section {
        padding: 40px 0;
    }
    .section--devices {
        padding-bottom: 0;
    }
    .card {
        margin-top: 50px;
        justify-content: center;
    }
    .card__item {
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
    }
    .card__item:last-child {
        margin-bottom: 0;
    }
    .services {
        justify-content: center;
    }
    .services__item {
        width: 100%;
        max-width: 400px;
        padding-left: 55px;
        padding-right: 0;
    }
    .services__icon {
        left: 0;
    }
    .wedo__img {
        display: none;
    }
    .wedo__item {
        width: 100%;
    }
    .reviews__photo {
        position: static;
        margin: 0 auto 20px;
    }
    .reviews__item {
        padding-left: 0;
    } 
    .reviews_text {
        font-size: 16px;
    }
    .reviews__author {
        font-size: 20px;
    }
    .works {
        flex-wrap: wrap;
    }
    .works__col {
        flex: none;
        width: 50%;
    }
    .blog {
        max-width: 380px;
        margin: 0 auto;
    }
    .blog__item {
        width: 100%;
        margin-bottom: 30px;
    }
    .blog__item:last-child {
        margin-bottom: 0;
    }
    .footer__col--second,
    .footer__col--third {
        width: 100%;
    }
}

@media (max-width: 576px) {
    
    .intro__suptitle{
        font-size: 22px;
    }
    .intro__title {
        font-size: 40px;
    }
    .section__title {
        font-size: 24px;;
    }
    .section__suptitle {
        font-size: 20px;
    }
    .section__title:after {
        margin: 20px auto;
    }
    .section__header {
        margin-bottom: 50px;
    }
    .stat__item {
        width: 100%;
        border-bottom: 1px solid #b5eae0;
    }
    .stat__item:last-child {
        border-bottom: 0;
    }
    .stat__count {
        font-size: 52px;
    }
    .devices {
        max-width: 320px;
    }
    .devices__item--iphone {
        width: 180px;
        bottom: -50px;
        right: -15px;
    }
    .reviews .slick-slider {
        padding: 0;
    }
    .slick-arrow {
        top: 18%;
    }
    .logos {
        flex-wrap: wrap;
        justify-content: center;
    }
    .logos__item {
        width: 50%;
        margin-bottom: 10px;
    }
    .logos__img {
        margin: 0 auto;
    }
    .works__col {
        width: 100%;
    }
    .clients__item {
        padding-left: 0;
        text-align: center;
    }
    .clients__photo {
        position: static;
    }
    .clients__text::before {
        margin: 15px auto;
    }
    .subscribe {
        flex-wrap: wrap;
        max-width: none;
    }
    .subscribe__input {
        width: 100%;
        border-right: 1px solid #e7e7e7;
        margin-bottom: 10px;
    }
    .subscribe__btn {
        width: 100%;
    }
    .blogs__img {
        width: 80px;
        height: 60px;
    }
    .blogs__title {
        font-size: 10px;
    }
}