@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333333;
}

*, 
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

hr {
    display: block;
    width: 100%;
    height: 1px;

    margin: 40px 0;

    border: 0;
    background-color: #e5e5e5;
}



@import 'blocks/header';
@import 'blocks/intro';
@import 'blocks/section';
@import 'blocks/about';
@import 'blocks/statistics';
@import 'blocks/services';
@import 'blocks/devices';
@import 'blocks/wedo';
@import 'blocks/reviews';
@import 'blocks/team';
@import 'blocks/logos';
@import 'blocks/works';
@import 'blocks/clients';







  









