.card {
    margin: 80px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item {
        width: 33.33333%;
        padding: 0 15px;
        &:hover .card__img {
            transform: translate3d(-10px, -10px, 0);
        }
        &:hover .card__img img {
            opacity: .1;
        }
        &:hover .card__text {
            opacity: 1;
        }               
    }
    &__inner {
        position: relative;
        background-color: #95e1d3;
    }
    &__img {
        background: linear-gradient(to bottom, #f38181, #fce38a);
        transition: transform .2s linear;
    }

    .card__img img {
        display: block;
        max-width: 100%;
        height: auto;
        transition: opacity .1s linear;
    }
    &__text {
        width: 100%;
        font-size: 18px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        opacity: 0;

        position: absolute;
        top: 50%;
        left: 0;
        z-index: 2;
        transform: translate3d(0, -50%, 0);

        transition: opacity .2s linear;
    }
    &__info {
        margin-top: 20px;
        text-align: center;
    }
    &__name {
        margin-bottom: 5px;
        text-transform: uppercase;
        font-size: 14px;
        color: #333333;
    }
    &__prof {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-style: italic;
        font-weight: 300;
        color: #999999;
    }
}

