.blog {
    display:flex;
    justify-content: space-between;
    &__item {
        width: 31%;
    }
    &__header {
        margin-bottom: 14px;
        position: relative;
    }
    &__photo {
        display: block;
        max-width: 100%;
        height: auto;
    }
    &__date {
        padding: 10px 20px;
        background-color: #95e1d3;        
        color: #ffffff;
        text-align: center;
        position: absolute;
        bottom: 10px;
        left: -10px;
        z-index: 1;
        &-day {
            line-height: 1;
            font-size: 30px;
            font-weight: 700;
        }
        &-month{
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            font-style: italic;
            font-weight: 300;
        }
    }
    &__content {
        margin-bottom: 10px;
    }
    &__title {
        margin-bottom: 10px;
        font-size: 14px;
        color: #333;
        text-transform: uppercase;
        a {
            color: inherit;
            text-decoration: none;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    &__text {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color: #999;
    }
    &__footer {
        padding-top: 14px;
        border-top: 1px solid #e5e5e5;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
        font-style: italic;
        color: #999;
    }
}

.blog-stat__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    i {
        color: #95e1d3;
    }
}