.header {
    padding-top: 30px;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        font-size: 30px;
        font-weight: 700;
        color:#fff;
    }

}
.nav {
    font-size: 14px;
    text-transform: uppercase;
    &__link {
        display: inline-block;
        vertical-align: top;
        margin: 0 15px;
        position: relative;

        color: #fff;
        text-decoration: none;

        transition: color .1s linear;
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            
            background-color: #fce38a;
            opacity: 0;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;

            transition: opacity .1s linear;
        }
        &:hover {
            color: #fce38a;
        }
        &:hover:after, &.active:after {
            opacity: 1;
       }
    }
    &__link.active {
        color:  #fce38a;
    }
}