.header {
    padding-top: 30px;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        font-size: 30px;
        font-weight: 700;
        color:#fff;
    }

}
.header.fixed {
    padding: 10px 0;
    background-color: #eb8b8d;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    transform: translate3d(0, 0, 0);
}
.header.active {
    background-color: #eb8b8d;
}
.nav-toggle {
    width: 30px;
    padding: 10px 0;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    display: none;

    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
    &:focus {
        outline: 0;
    }
    &__item {
        display: block;
        width: 100%;
        height: 3px;

        background-color: #fff;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;

        transition: background .2s linear;

        &:before, 
        &::after {
            content: '';
            width: 100%;
            height: 3px;
            background-color: #fff;
            position: absolute;
            left: 0;
            z-index: 1;
            transition: transform .2s linear;
        }
        &:before {
            top: -8px;
        }
        &::after {
            bottom: -8px;
        }
    }
    &.active .nav-toggle__item {
        background: none;
    }
    &.active .nav-toggle__item:before {
        transform-origin: left top;
        transform: rotate(45deg) translate3d(0px, -2px, 0);
    }
    &.active .nav-toggle__item:after {
        transform-origin: left bottom;
        transform: rotate(-45deg) translate3d(0px, 3px, 0);
    }
}
.nav {
    font-size: 14px;
    text-transform: uppercase;
    &__link {
        display: inline-block;
        vertical-align: top;
        margin: 0 15px;
        position: relative;

        color: #fff;
        text-decoration: none;

        transition: color .1s linear;
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            
            background-color: #fce38a;
            opacity: 0;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;

            transition: opacity .1s linear;
        }
        &:hover {
            color: #fce38a;
        }
        &:hover:after, &.active:after {
            opacity: 1;
       }
    }
    &__link.active {
        color:  #fce38a;
    }
}