.section {
    padding: 80px 0;
    &__header {
        width: 100%;
        max-width: 950px;
        margin: 0 auto 50px;

        text-align: center;
    }
    &__suptitle {
        font-size: 24px;
        color: #333333;
        font-family: 'Kaushan Script', cursive;
        // margin-bottom: 25px;
    }
    &__title {
        font-size: 30px;
        font-weight: 700;
        color: #333333;
        text-transform: uppercase;
        &:after {
            content: "";
            display: block;
            width: 60px;
            height: 3px;
            margin: 30px auto;
            background-color: #f38181;
        }
    }
    &__text {
        font-size: 15px;
        color: #999999;
        font-family: 'Roboto', sans-serif;
    }
}

.section--devices {
    margin-bottom: 40px;
    padding-bottom: 0;
    background: url('../img/Design/design-bg.jpg') center (center / cover) no-repeat;
}

.section--grey {
    background-color: #f8f8f8;
}

.section--clients {
    background: #f5f5f5 url('../img/People/people-bg.jpg') center (center / cover) no-repeat;
}