.services {
    display: flex;
    flex-wrap: wrap;
    &__item {
        width: 33.33333%;

        padding: 0 35px 40px 85px;
        position: relative;
        margin-bottom: 40px;
        
        &--border {
            border-bottom: 1px solid #e5e5e5;
        }
    }
    &__icon {
        position: absolute;
        top: 0;
        left: 28px;
        z-index: 1;
    }
    &__title {
        margin-bottom: 10px;

        font-size: 14px;
        color: #333333;
        text-transform: uppercase;
        
    }
    &__text {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color: #999999;
    }
}