.statistics {
    background-color: #95e1d3;
}
.stat {
    display: flex;
    &__item {
        flex: 1 1 0;
        padding: 70px 25px;


        border-left: 1px solid #b5eae0;

        text-align: center;
        color: #ffffff;
        &:last-child {
            border-right: 1px solid #b5eae0;
        }
    }
    &__count {
        margin-bottom: 10px;
        font-size: 72px;
        font-weight: 700;
        line-height: 1;
    }
    &__text {
        font-size: 14px;
        text-transform: uppercase;
    }
}